doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title MOVIREC
    |     
    link(rel='icon', type='icon', href='src/image/cinema.png')
    |     
    link(rel='stylesheet', href='article.css')
  body
    article.margin
      h2 John WICK
      |         
      img(src='src/image/john.jpg')
      |         
      div
        h4 Description &amp; r&eacute;sum&eacute; du film
      |         
      #preline
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          | Est, voluptate possimus in ipsa eligendi facilis optio illum
          | enim qui ratione et accusamus pariatur recusandae
          | vitae quisquam vel culpa quidem molestiae.
      |    
      |         
      div
        textarea(name='textarea', row='300', cols='50') Vos commentaires ici !
    |     
    footer
      .basdepage
        p ABOUT US
      |         
      .basdepage
        p NEWSLETTERS
      |         
      .copyright
        | &copy;Movirec
