img {
    width: 200px;
    height: auto;
    border-radius: 70px;
    display: block;
    position: relative;
    bottom: 130px;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    position: relative;
    text-align: center;
    right: 150px;
}

.link {
    display: inline-flex;
    flex-direction: row-reverse;
    position: relative;
    left: 400px;
    text-decoration: none;
}
