body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

#entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #CC4040;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    background-color: #74BCC7;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 30px;
}

#header-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 30px;
}

img {
    border-radius: 70px;
    width: 150px;
    height: 100px;
    margin-top: 10px;
}



h1 {
    font-size: 65px;
    font-weight: bold;
    color: white;
    position: relative;
    left: 30px;
    bottom: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.basdepage {
    display: flex;
    flex-direction: column; /* Change to column direction /
    justify-content: space-between;

    color: white;
    height: auto; / Set height to auto /
}



.copyright {
    text-align: center; / Center align the copyright text */
    margin-top: center;

}

.copyright {
    text-align: center; /* Center align the copyright text */
    margin-top: center;
}

footer {
    background-color: #CC4040;
    padding:40px 10px;
    color: white;
}
