doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title MOVIREC
    |     
    link(rel='icon', type='icon', href='src/image/cinema.png')
    |     
    link(rel='stylesheet', href='register.css')
  body
    fieldset
      form
        h1 Sign in
        |         
        label(for='Pseudo') Pseudo
        input#Pseudo(type='text', placeholder='Coco', name='Pseudo')
        |         
        label(for='Nom') Nom
        input#Nom(type='text', placeholder='DUPONT', name='Nom')
        |         
        label(for='Prénom') Pr&eacute;nom
        input(type='text', placeholder='Jeanne', name='Prénom', id='Prénom')
        |         
        label(for='Mail') Mail
        input#Mail(type='email', placeholder='jeannedupont@', name='Mail')
        |         
        label(for='Mot de passe') Mot de passe
        input(type='password', placeholder='Mot de passe', name='Mot de passe', id='Mot de passe')
        |         
        input.boutton(type='submit', value='Soumettre')
        |         
        p Si vous &ecirc;tes d&eacute;j&agrave; inscrit(e), veuillez cliquer sur Sign up.
    |     
    footer
      .basdepage
        p ABOUT US
      |         
      .basdepage
        p NEWSLETTERS
      |         
      .copyright
        | &copy;Movirec
