// views/register.pug

doctype html
html
  head
    title= "MOVIREC"
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block styles
      link(rel="stylesheet", type="text/css", href="./styles/header.css")
      link(rel="stylesheet", type="text/css", href="./styles/register.css")  
      link(rel='stylesheet', type='text/css', href="./styles/register.css")  
  body
    header(class='header')
      div(class='title')
        img(class='img',src='./styles/image/film.png', alt='Logo')
        h1 MOVIREC
      a.link_in(href="Sign.html", target="_blank") Sign in
      a.link_up(href="login.html", target="_blank") Sign up

      hr

    nav
      a(href="article.html", target="_blank") ARTICLES 
      a(href="article.html", target="_blank")  MOVIES REVIEWS
      a(href="article.html", target="_blank") INTERVIEWS
      a(href="article.html", target="_blank") CONTEST
      a(href="article.html", target="_blank") CONTACT US
  
    h1 
      | Inscription

    form(action='/submit-register', method='post', class="form") 
      label(for="User_Nickname") Pseudo :
      input(type="text", placeholder="Entrez votre pseudo", name="User_Nickname", class="pseudo", required)

      label(for="User_Surname") Nom :
      input(type="text", placeholder="Entrez votre nom", name="User_Surname", id="surname", required)

      label(for="User_Firstname") Prénom:
      input(type="text", placeholder="Entrez votre prénom", name="User_Firstname", id="lastname", required)

      label(for="User_Email") Email:
      input(type="email", placeholder="Entrez votre e-mail", name="User_Email", id="mail", required)

      label(for="User_Password") Mot de passe:
      input(type="password", placeholder="Entrez votre mot de passe", name="User_Password", id="password", required)

      input(type="submit", value="Submit")

    p 
      | Si vous êtes déjà inscrit(e), veuillez cliquer sur Sign up.