/* styles/register.css */

.form {
  background-color: rgb(233, 233, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
}
<<<<<<< HEAD
=======
  
>>>>>>> 6d70b24 (Add component header.pug+css)
input{
  margin-bottom: 10px;
}