doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
  title MOVIREC
    |     
    link(rel='icon', type='icon', href='src/image/cinema.png')
    block styles
      link(rel="stylesheet", type="text/css", href="./styles/header.css")
      link(rel="stylesheet", type="text/css", href="./styles/article.css")
  body
    header(class='header')
      div(class='title')
        img(class='img',src='./styles/image/film.png', alt='Logo')
        h1 MOVIREC
      a.link_in(href="login", target="_blank") connection
      a.link_up(href="register", target="_blank") enregistrement
      a.link(href='add', target='_blank') ajouter article
      |         
      |         
      nav
      a(href="article", target="_blank") ARTICLES 
      a(href="home", target="_blank")  MOVIES REVIEWS
      a(href="home", target="_blank") INTERVIEWS
      a(href="home", target="_blank") CONTEST
      a(href="home", target="_blank") CONTACT US
    |     
    article.margin
      h2 John WICK
      |         
      img(src='src/styles/image/john.jpg')
      |         
      div
        h4 Description &amp; r&eacute;sum&eacute; du film
      |         
      #preline
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          | Est, voluptate possimus in ipsa eligendi facilis optio illum
          | enim qui ratione et accusamus pariatur recusandae
          | vitae quisquam vel culpa quidem molestiae.
      |    
      |         
      div
        textarea(name='textarea', row='300', cols='50') Vos commentaires ici !
    |     
    footer
      .basdepage
        p ABOUT US
      |         
      .basdepage
        p NEWSLETTERS
      |         
      .copyright
        | &copy;Movirec
