doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title MOVIREC
    |     
    link(rel='icon', type='icon', href='src/styles/image/cinema.png')
    |     
    link(rel='stylesheet', href='login.css')
  body
    header
      #entete
        img(src='src/styles/image/film.png', alt='logo')
        |             
        h1 MOVIREC
        |             
        a.link.first(href='register.html', target='_blank') Sign in
        |             
        a.link.second(href='login.html', target='_blank') Sign up
      |         
      |         
      nav
        a(style='text-decoration: none;', href='article.html', target='_blank') ARTICLES
        |             
        a(style='text-decoration: none;', href='movies.html', target='_blank') MOVIES REVIEWS
        |             
        a(style='text-decoration: none;', href='interview.html', target='_blank') INTERVIEWS
        |             
        a(style='text-decoration: none;', href='contest.html', target='_blank') CONTEST
        |             
        a(style='text-decoration: none;', href='contact.html', target='-blank') CONTACT US
    |     
    fieldset
      form
        h1 Sign up
        |             
        label(for='Identifiant') Identifiant
        input#Identifiant(type='email', placeholder='@email', name='Identifiant')
        |             
        p Identifiant oubli&eacute; ?
        |             
        label(for='Mot de passe') Mot de passe
        input(type='password', placeholder='Mot de passe', name='Mot de passe', id='Mot de passe')
        |             
        p Mot de passe oubli&eacute; ?
        |             
        input.submit(type='submit', value='Soumettre')
        |             
        p Si vous n&apos;&ecirc;tes pas encore inscrit(e), veuillez cliquer sur Sign in.
    |     
    footer
      .basdepage
        p ABOUT US
      |         
      .basdepage
        p NEWSLETTERS
      |         
      .copyright
        | &copy;Movirec
