doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title MOVIREC
    |     
    link(rel='icon', type='icon', href='src/image/cinema.png')
    block styles
      link(rel="stylesheet", type="text/css", href="./styles/header.css")
      link(rel="stylesheet", type="text/css", href="./styles/login.css")
  
  body
    header
      #entete
        img(src='src/styles/image/film.png', alt='logo')
        h1 MOVIREC
        a.link.first(href='register', target='_blank') connection
        a.link.second(href='login', target='_blank') enregistrement
        a.link(href='add', target='_blank') ajouter article
    nav
      a(href="article", target="_blank") ARTICLES 
      a(href="home", target="_blank")  MOVIES REVIEWS
      a(href="home", target="_blank") INTERVIEWS
      a(href="home", target="_blank") CONTEST
      a(href="home", target="_blank") CONTACT US
    |     
    fieldset
      form
        h1 Sign up
        |             
        label(for='Identifiant') Identifiant
        input#Identifiant(type='email', placeholder='@email', name='Identifiant')
        |             
        p Identifiant oubli&eacute; ?
        |             
        label(for='Mot de passe') Mot de passe
        input(type='password', placeholder='Mot de passe', name='Mot de passe', id='Mot de passe')
        |             
        p Mot de passe oubli&eacute; ?
        |             
        input.submit(type='submit', value='Soumettre')
        |             
        p Si vous n&apos;&ecirc;tes pas encore inscrit(e), veuillez cliquer sur Sign in.
    |     
    footer
      .basdepage
        p ABOUT US
      |         
      .basdepage
        p NEWSLETTERS
      |         
      .copyright
        | &copy;Movirec
