doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title MOVIREC
    |     
    link(rel='icon', type='icon', href='src/image/cinema.png')
    block styles
      link(rel="stylesheet", type="text/css", href="./styles/header.css")
      link(rel="stylesheet", type="text/css", href="./styles/home.css")
  body
    header(class='header')
      div(class='title')
        img(class='img',src='./styles/image/film.png', alt='Logo')
        h1 MOVIREC
      a.link_in(href="login", target="_blank") connection
      a.link_up(href="register", target="_blank") enregistrement
      a.link(href='add', target='_blank') ajouter article
      |         
      |         
      nav
        a(style='text-decoration: none;', href='article.html', target='_blank') ARTICLES
        |             
        a(style='text-decoration: none;', href='movies.html', target='_blank') MOVIES REVIEWS
        |             
        a(style='text-decoration: none;', href='interview.html', target='_blank') INTERVIEWS
        |             
        a(style='text-decoration: none;', href='contest.html', target='_blank') CONTEST
        |             
        a(style='text-decoration: none;', href='contact.html', target='-blank') CONTACT US
    |     
    section
      h2 Lorem ipsum quo doloremque
      |         
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
        | Optio explicabo quibusdam placeat alias, id nobis deserunt
        | quod nemo provident perferendis. Voluptas tempore veritatis,
        | inventore error aliquam dolorem maxime nostrum consequatur?
    |     
    hr
    |     
    section
      h2 Lorem architecto dolorem
    |     
    hr
    |     
    aside
      h3 Lorem ipsum
      |         
      p
        | Lorem ipsum dolor sit amet consectetur
        | adipisicing elit. Nihil odio iusto doloribus
        | optio cumque tenetur ad. Placeat ex fuga nisi.
      |         
      h3 lorem ipsum
      |         
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
        | Quibusdam accusamus fugiat ad, modi exercitationem
        | corporis quam ullam illo, eligendi maxime sed est
        | necessitatibus delectus minima magnam laboriosam
        | mollitia?
    |     
    |     
    footer
      .basdepage
        p ABOUT US
      |         
      .basdepage
        p NEWSLETTERS
      |         
      .copyright
        | &copy;Movirec
